#about {
  background: #18BC9C;
  color: #fff;
}
.hr-star {
  font-family: font-awesome;
  height: 5px;
  border: 3px solid #fff;
  max-width: 250px;
  text-align: center;
}
.hr-star::after{
  content: "☆";
  background: #18BC9C;
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: relative;
  top: -25px;
  padding: 5px;
}
.texto {
  font-family: Montserrat;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.textos-p {
  font-family: lato;
  font-size: 20px;
  letter-spacing: 1px;
}
.btn-download {
  font-size: 20px;
  font-family: lato;
  border-radius: 6px;
  background: #18bc9c;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  margin-bottom: 50px;
}
.btn-download:hover {
  background: #fff;
  color: #18bc9c;
  transition: .3s;
}